<nav class="navbar navbar-expand-lg bg-light"></nav>
	<a class="navbar-brand" href="{% url 'homepage' %}">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c0/BAPEX.png/220px-BAPEX.png" width="100" height="60" style="padding-left: 15px;" class="d-inline-block align-top" alt="">
    </a>
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'homepage' %}">Log and Seismic Converter</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>